$breakpoint-mobile: 320px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$common_gray_color: #ececec;
$common_blue_color: #a580e2;
$common_strong_blue_color: #7d38d5;
$common_purple_color: #826ce3;
$common_hr:  "border-top: 1px solid #e5e7eb";